@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
    )
  );
}

html.dark {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
    )
  );
}

html {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.mdc-notched-outline__notch {
  border-right: none;
}

:root {
  @include mat.table-overrides(
    (
      background-color: transparent,
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
    )
  );
}
